.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.clickable-column:hover {
    cursor: pointer;
}

.modal {
    --bs-modal-width: 1350px;
}

.node {
    cursor: zoom-in;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node-root {
    stroke: #777;
    stroke-width: 2px;
}

.node-leaf {
    stroke: #777;
    stroke-width: 1px;
}

.node-root,
.node-leaf {
    pointer-events: none;
}

.node-text {
    text-anchor: middle;
    cursor: pointer;
}

.action-icon {
    cursor: pointer;
}

.sortable-column-header {
    cursor: pointer;
}

.row-spacing {
    margin-bottom: 3em;
}

.text-button {
    cursor: pointer;
}

.text-button:hover {
    font-weight: bold;
}

.auto-complete-input-visible {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.auto-complete-dropdown-visible {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.switcher-dropdown {
    float: right;
}